<!DOCTYPE html>
<html ng-app="chardbApp">
<head>
    <title th:text="${title}"></title>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'/>
    <link rel='stylesheet prefetch' href='/css/main.css'/>
    <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>
    <script src='https://code.jquery.com/jquery-1.11.2.min.js'></script>
    <script type="text/javascript" src="/js/ng-imgur.min.js"></script>

    <script src="/js/main.js"></script>
</head>

<body>
	<div class="page" ng-controller="CharacterController">
		<header>
			<ul>
				<a href="/"><li>Home</li></a>
				<a href="/login" th:unless="${loggedIn}"><li>Login</li></a>
				<a href="/register" th:unless="${loggedIn}"><li>Register</li></a>
				<a href="/user" th:if="${loggedIn}"><li>Your Characters</li></a>
				<a href="/new" th:if="${loggedIn}"><li>New Character</li></a>
				<a href="/logout" th:if="${loggedIn}"><li>Logout</li></a>
			</ul>
		</header>
		<section id="characterSection">
			<input type="hidden" name="charId" id="charId" th:value="${character.id}" />
    		<div class="subsection" id="basicInfo">
        		<input ng-model="char.name" type="text" name="name" placeholder="Character Name" required="true"/>
        		<img src="{{char.url}}" class="drop"/>
        		<input ng-model="char.group" type="text" name="group" placeholder="Group" required="true"/>
        		<select ng-model="char.timePeriod" ng-options="timePeriod for timePeriod in timePeriods"></select><br/>
        		<select ng-model="char.genre" ng-options="genre for genre in genres"></select><br/>
    		</div>

    		<div class="subsection" id="details">
        		<div class="container app" style="background-color: transparent;">
            		<div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
        		</div>
        		<div id="characterControls">
        			<div class="charDbButton" ng-click='save()' >Save</div>
        			<div class="charDbButton" ng-click='delete()' >Delete</div>
        		</div>
    		</div>
		</section>
	</div>
</body>
</html>